{% extends 'base.html' %}

{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Dashboard</title>
</head>

<!-- PAGE CONTAINER-->
<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">overview</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row m-t-25 d-flex align-items-center justify-content-center">   
                    {% if num_sites|length < 3 %}
                        {% for s in num_sites %}
                        <div class="col-sm-6 col-lg-4">
                            {% include 'app_overview.html' %}
                        </div>
                        {% endfor %} 
                    {% else %}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto">
                            
                            {% for s in num_sites %}
                                <!-- get first in list and set to active for carousel to function -->
                                {% if forloop.counter0 == 0 %}                      
                                    <div class="carousel-item col-md-4 active">
                                        {% include 'app_overview.html' %}
                                    </div>
                                {% else %}
                                    <div class="carousel-item col-md-4 ">
                                        {% include 'app_overview.html' %}
                                    </div>
                                {% endif %}
                                
                            {% endfor %} 
                           
                        </div>   
                         
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}
                        
                    
                </div>  
                
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="title-1 m-b-25">Notifications</h2>
                        <div class="user-data m-b-20">
                            <div class="filters m-b-5">
                                <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">Mark as</option>
                                        <option value="">Unread</option>
                                        <option value="">read</option>
                                        <option value="">Completed</option>

                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                    <select class="js-select2 au-select-dark" name="time">
                                        <option selected="selected">All Time</option>
                                        <option value="">By Month</option>
                                        <option value="">By Day</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                            <div class="table-responsive table-data">
                                <table id="sortable-table-1" class="tablesorter table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox" id="selectAll">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>name</td>
                                            <td>date</td>
                                            <td>progress</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Update</h6>
                                                    <span>
                                                        <a href="#">Contact customer services</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2020-02-29 04:57</a></span>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                            <!-- 
                                            <td>
                                                <span class="more">
                                                    <i class="zmdi zmdi-more"></i>
                                                </span>
                                            </td>
                                            -->
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Data transfer</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a> 2020-06-29 21:54</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Exported data</h6>
                                                    <span>
                                                        <a>site 1</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2019-01-28 11:34</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Ammeded data</h6>
                                                    <span>
                                                        <a>Site 3</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2018-11-18 15:54</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div>-->
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <h2 class="title-1 m-b-25">Last User Access</h2>
                        
                        <div class="table-sorter-wrapper table-responsive table--no-card m-b-20">
                            <table id="sortable-table-1" class="tablesorter table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>date</th>
                                        <th>name</th>
                                        <th class="text-right">location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{request.user.last_login}}</td>
                                        <td>{{request.user.username}}</td>
                                        <td class="text-right">Edinburgh</td>
                                    </tr>
                                    <tr>
                                        <td>2017-09-28 01:22</td>
                                        <td>John</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27 02:12</td>
                                        <td>Jane</td>
                                        <td class="text-right">Singapore</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26 23:06</td>
                                        <td>Jason</td>
                                        <td class="text-right">New York</td>
                                    </tr>
                                    <tr>
                                        <td>2019-09-25 19:03</td>
                                        <td>Jacob</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-29 05:57</td>
                                        <td>Jack</td>
                                        <td class="text-right">Lisbon</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-24 19:10</td>
                                        <td>Jessica</td>
                                        <td class="text-right">Manchester</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-29 05:57</td>
                                        <td>Jenny</td>
                                        <td class="text-right">Edinburgh</td>
                                    </tr>
                                    <tr>
                                        <td>2017-09-28 01:22</td>
                                        <td>John</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27 02:12</td>
                                        <td>Jane</td>
                                        <td class="text-right">Singapore</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26 23:06</td>
                                        <td>Jason</td>
                                        <td class="text-right">New York</td>
                                    </tr>
                                    <tr>
                                        <td>2019-09-25 19:03</td>
                                        <td>Jacob</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div> -->
                        </div>
                        
                    </div>
                </div>    
                <div class="row">

                    <div class="col-lg-12">
                        <h2 class="title-1 m-b-25">Customer Support</h2>
                        <div class="support_footer d-flex align-items-center justify-content-center">                        
                            <div class="col-lg-3">
                                <button type ="button" data-toggle="modal" data-target="#helpModal"><div class=support><h1>Help</h1><i class="fa fa-info-circle fa-4x" ></i></div></button>
                                <!-- modal help -->
                                <div class="modal" id="helpModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="helpModalLabel">Help Modal</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class = "row">
                                                    <div class = "col-sm-3">
                                                        <i class="fa fa-info-circle animated rotateIn d-flex justify-content-center"></i>
                                                    </div>
                                                    <div class ="col-sm-9">
                                                        <p>Please contact us if you need any help.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button type ="button" data-toggle="modal" data-target="#callModal"><div class=support><h1>Call Us</h1><i class="fa fa-phone fa-4x"></i></div></button></div>
                                <!-- modal help -->
                                <div class="modal" id="callModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="callModalLabel">Call Us Modal</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class = "row">
                                                    <div class = "col-sm-3">
                                                        <i class="fa fa-phone animated rotateIn d-flex justify-content-center"></i>
                                                    </div>
                                                    <div class ="col-sm-9">
                                                        <p>Call us at: 0131.....</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-3">
                                <button type ="button" data-toggle="modal" data-target="#ticketModal"><div class=support><h2>Open A Ticket</h2><i class="fa fa-exclamation-triangle fa-4x"></i></div></button></div>
                                <!-- modal help -->
                                <div class="modal" id="ticketModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="ticketModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ticketModalLabel">Open a ticket</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class = "row">
                                                    <div class = "col-sm-3">
                                                        <i class="fa fa-exclamation-triangle d-flex justify-content-center"></i>
                                                    </div>
                                                    <div class ="col-sm-9">
                                                        <form action="mailto:jenny.lin@crover.tech" method="GET" target="_blank">
                                                            <div class ="ticketform">
                                                                <div class="field"><label class="label" for="subject">Subject: </label>
                                                                    <input name="subject" id="subject" type="text" class="input" value="Enter Subject"></div>
                                                                    <div class="field"><label class="label" for="body">Summary: </label>
                                                                    <textarea class="textarea" name="body" id="modaltext"maxlength="150">Report your problem here</textarea></div>
                                                            </div>
                                                                    
                                                                 <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                    <div><input type="submit" value="Submit ticket" class="btn btn-success"></div>
                                                                </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-3">
                                <button type ="button" data-toggle="modal" data-target="#emailModal"><div class=support><h1>Email Us</h1><i class="fa fa-envelope fa-4x"></i></div></button></div>
                                <div class="modal" id="emailModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="emailModalLabel">Email Us</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class = "row">
                                                    <div class = "col-sm-3">
                                                        <i class="fa fa-envelope d-flex justify-content-center"></i>
                                                    </div>
                                                    <div class ="col-sm-9">
                                                        <p>Email us at: <a href="mailto:Jenny.Lin@crover.tech" target="_blank">Jenny.Lin@crover.tech</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>    
                        </support_footer>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>   

<!-- end document-->

{% endblock content_nav %}