{% load static %}
{% block content_overview %}

<div class="overview-item overview-item--c1">
    <div class="overview-box clearfix">
        <div class="text">
            <h2>Site {{s}}</h2>
            <span>Location</span>
            <div class="app_dropdown">
                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v" style="font-size: 25px; color:white"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/site">Details</a>
                    <a class="dropdown-item" href="#">Settings</a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="overview-chart">
        <div class = "row">
            <div class="col-md-4">
                <div class="capacity d-flex align-items-center justify-content-center">
                    <div class="text"><h1>Capacity</h1>
                        <div class="progress-circle" data-value='80'>
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text"><h5>80<sup class="small">%</sup></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="condition d-flex align-items-center justify-content-center">
                    <div class="text"><h1>Condition</h1>
                    <i class="far fa-smile " style="font-size: 80px; color:white"></i></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="condition d-flex align-items-center justify-content-center">
                    <div class="text"><h1>°C</h1>
                        <div class="progress progress-bar-vertical  ">
                            <div class="progress-bar temp-prog-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="condition d-flex align-items-center justify-content-center">
                    <div class="text"><h1>%</h1>
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar moist-prog-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 70%;">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="#"><div class="fa fa-chevron-right rotate"></div></a> -->
        <!--<canvas id="widgetChart1"></canvas>-->
            <button type="button" class="more-btn" data-toggle="collapse" data-target="#overview-more{{s}}" aria-expanded="false" aria-controls="overview-more{{s}}"><div class="fa fa-chevron-down fa-2x rotate"></div></button>
            <div id="overview-more{{s}}" class="collapse">
                <li>Grain</li>
                <li>Temperature</li>
                <li>Moisture</li>
                <li>Humidity</li>
            </div>
        
    </div>
    
</div>


{% endblock content_overview %}