{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <!-- <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all"> -->
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <!-- <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all"> -->

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <!-- <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all"> -->

    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />

    {% block content_nav %}
    replace me <!--default-->
    {% endblock content_nav %}
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="app.html">
                            <img src="{% static 'images/crover_logo.png' %}"  alt="Crover_logo"/>

                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i></a>
                            <!-- <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/app">Overview</a>
                                </li>
                                <li>
                                    <a href="/site">Site 1</a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="/graphs">
                                <i class="fas fa-chart-bar"></i></a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i></a>
                        </li>
                        <li>
                            <a href="/map">
                                <i class="fas fa-map-marker-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

         <!-- MENU SIDEBAR-->
         <aside class="menu-sidebar d-none d-lg-block">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        {% if request.user.group.all.0.name == Managers or request.user.group.all.0.name == Staff %}

                        <!-- <li class="active has-sub"> -->
                        <li>
                            <a href="/app">
                                <i class="fas fa-tachometer-alt"></i></a>
                            <!-- <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/app">Dashboard</a>
                                </li>
                                <li>
                                    <a href="/site">Site</a>
                                </li>
                
                            </ul> -->
                        </li>
                        <li>
                            <a href="/graphs">
                                <i class="fas fa-chart-bar"></i></a>
                        </li>
                        <li>
                            <a href="/profile">
                                <i class="fas fa-user"></i></a>
                        </li>
                        {% if request.user.group.all.0.name == Managers %}
                        
                        <li>
                            <a href="/user">
                                <i class="fas fa-cog"></i></a>
                        </li>
                        {% endif %}

                        {% endif %}
                        <li>
                            <a href="/contact">
                                <i class="fas fa-id-card"></i></a>
                        </li>
                    </ul>
                </nav>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    
                    <div class="header-wrap">
                        <div class="logo">
                            <a href="/app">
                                <img src="{% static 'images/crover_logo.png' %}"  alt="Crover_logo" height="500" width="250"/>
                            </a>
                        </div>

                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for specific data & reports" />
                            <button class="au-btn--submit" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        
                        <div class="header-button">

                            <!-- <div class="noti-wrap">
                            
                                <div class="noti__item js-item-menu">
                                    <i class="far fa-bell"></i>


                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{request.user}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <i class="fas fa-user fa-3x"></i>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{request.user}}</a>
                                                </h5>
                                                <!-- <span class="email">{{request.user}}@example.com</span> -->
                                                <span class="email">Group: {{ request.user.groups.all.0.name }}</span>
                                                <!-- request.user.groups.all()[0].name -->
                                            </div>
                                        </div>
                                        <!-- <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="fas fa-account"></i>Account</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="fas fa-settings"></i>Setting</a>
                                            </div>
                                        </div> -->
                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="fas fa-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- FOOTER -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p><a href="https://www.crover.tech/">Crover ©</a></p>
                </div>
            </div>
        </div>
        <!--END FOOTER-->
    </div>
    <!-- END PAGE WRAPPER-->
</div>

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js'%}"></script>

<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/popper.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js'%}"></script>
<!-- Vendor JS       -->
<!-- <script src="{% static 'vendor/slick/slick.min.js'%}">
</script>
<script src="{% static 'vendor/wow/wow.min.js'%}"></script>
<script src="{% static 'vendor/animsition/animsition.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js'%}">
</script>
<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'vendor/counter-up/jquery.counterup.min.js'%}">
</script>
<script src="{% static 'vendor/circle-progress/circle-progress.min.js'%}"></script>
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js'%}"></script>
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js'%}"></script>
<script src="{% static 'vendor/select2/select2.min.js'%}">
</script> -->
<script src="{% static 'vendor/select2/select2.min.js'%}">
</script>
<script src="{% static 'vendor/animsition/animsition.min.js'%}"></script>
<!-- Main JS-->
<script src="{% static 'js/main.js'%}"></script>


<script src="{% static 'js/jquery.tablesorter.js'%}"></script>
<script src="{% static 'js/jquery.tablesorter.widgets.js'%}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
</body>

</html>