{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}
{% load plotly_dash %}

<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Moisture heatmap</h3>
                                <!-- <canvas id="sales-chart"></canvas> -->
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        {% autoescape off %}
                        {{ moisture_plot }}
                        {% endautoescape %}
                    </div>
                    <div class="col-lg-8">
                        {% autoescape off %}
                        <div class="(% plotly_class name='moistmap'%)" style="height:100%; width:100%">
                            {% plotly_app name="moistmap" ratio=0.7 %}
                        </div>
                        {% endautoescape %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="(% plotly_class name='moist'%)" style="height:100%; width:100%">
                            {% plotly_app name="moist" ratio=0.95 %}
                        </div>
                    </div><div class="col-lg-6">
                        <div class="(% plotly_class name='temp'%)" style="height:100%; width:100%">
                            {% plotly_app name="temp" ratio=0.95 %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-lg-2">
                    </div>
                    <div class="col-md-8 ml-md-auto">
                        <div class="(% plotly_class name='surfaceplot'%)" style="height:100%; width:100%">
                            {% plotly_app name="surfaceplot" ratio=0.7 %}
                        </div>
                    </div>
                    <div class = "col-lg-2">
                    </div>
                </div>
                <div class="row">
                    <div class = "col-lg-2">
                    </div>
                    <div class="col-md-8 ml-md-auto">
                        <div class="(% plotly_class name='moisttemp'%)" style="height:100%; width:100%">
                            {% plotly_app name="moisttemp" ratio=1 %}
                        </div>
                    </div>
                    <div class = "col-lg-2">
                    </div>
                </div>
                   
                    <!-- <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Team Commits</h3>
                                <canvas id="team-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Bar chart</h3>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Rader chart</h3>
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Line Chart</h3>
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Doughut Chart</h3>
                                <canvas id="doughutChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Pie Chart</h3>
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Polar Chart</h3>
                                <canvas id="polarChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">
                                <h3 class="title-2 m-b-40">Single Bar Chart</h3>
                                <canvas id="singelBarChart"></canvas>
                            </div>
                        </div>
                    </div> 
                </div>-->
                
            </div>
        </div>
    </div>
</div>

{% endblock content_nav %}