{% load static %}
{% block content_overview %}

<div class="overview-item overview-item--c1">
    <div class="overview-box clearfix">
        <div class="text p-l-10">
            <h2>Overview</h2>
            <h4>Location: <span>{{location}}</span></h4>
            <h4>Total Capacity: <span>{{total_capacity}} tonnes</span></h4>

            <div class="app_dropdown">
                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-info-circle" style="font-size: 45px; color:white"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/site">Details</a>
                    <!-- <a class="dropdown-item" href="#">Settings</a> -->
                </div>
            </div>
        </div>
    
    </div>
    <div class="overview-chart">
        <div class = "row">
            <div class="col-md-3">
                <div class="capacity d-flex align-items-center justify-content-center">
                    <div class="text"><h1>Capacity</h1>
                        <div class="progress-circle" data-value='80'>
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text"><h5>78<sup class="small">%</sup></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition d-flex align-self-center justify-content-center">
                    <div class="text "><h1>Condition</h1>
                        <!-- <i class="far fa-smile " style="font-size: 80px; color:green"></i> -->
                        <!-- <i class="far fa-meh " style="font-size: 80px; color:orange"></i> -->
                        <i class="far fa-frown " style="font-size: 80px; color:red"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition">
                    <div class="text"><h1 class=" d-flex align-self-center justify-content-center">Ave. Temp.</h1>
                        <div class=" d-flex align-self-center justify-content-center">
                            <div class="progress progress-bar-vertical">
                                <div class="progress-bar temp-prog-bar " role="progressbar" aria-valuenow="20" aria-valuemin="14" aria-valuemax="40" style="height: 55%;">
                                    <span>20°C</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition">
                    <div class="text"><h1 class=" d-flex align-self-center justify-content-center">Ave. Moist.</h1>
                        <div class=" d-flex align-self-center justify-content-center">
                            <div class="progress progress-bar-vertical">
                                <div class="progress-bar moist-prog-bar" role="progressbar" aria-valuenow="28" aria-valuemin="12" aria-valuemax="19" style="height: 90%;">
                                    <span>18%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    
</div>


{% endblock content_overview %}