{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}
{% load plotly_dash %}

<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Storage Silo {{id}}</h2>
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <a href="/storage"><i class="fas fa-cog"></i></a>    
                                    <a href="/graphs"><i class="fas fa-download"></i></a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ROW1-->
                <div class="row m-t-25">
                    <!-- DETAILS-->
                    <div class="col-sm-6 col-lg-6">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <!-- <div class="icon">
                                        <i class="fas fa-smile"></i>
                                    </div> -->
                                    <div class="text">
                                        <h2>Details</h2><br>
                                        <ul>
                                        <span>Grain type:<h4> </h4></span>
                                        <span>Site:<h4> <a href =/site>site1</a></h4></span>
                                        <span>Capacity: </span>

                                        </ul>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <!--<canvas id="widgetChart2"></canvas>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--map-->
                    <div class="col-sm-6 col-lg-6">

                        <!--Card-->
                        <!-- <div class="card"> -->
                          <!--Card content-->
                          <!-- <div class="card-body"> -->
                            <!-- <h3>Moisture heatmap</h3> -->
                            {% autoescape off %}
                            <div class="(% plotly_class name='heatmap'%)" style="height:100%; width:100%">
                                {% plotly_app name="heatmap" ratio=0.7 %}
                            </div>
                            {% endautoescape %}

                          <!-- </div> -->
                          <!--/.Card content-->
                    
                        <!-- </div> -->
                        <!--/.Card-->
                    
                      </div>
                </div>
                <!-- END ROW1-->
                <!-- ROW2a-->
                <div class="row m-t-25">
                    <div class="col-sm-12 col-lg-12">
                        <div class = "card">
                            <div class="card-header">
                                <strong class="card-title">Graph</strong>
                            </div>
                            <div class="card-body">
                                <div class="custom-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-plot1" role="tab" aria-controls="custom-nav-plot1" aria-selected="true">Plot 1</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot2" role="tab" aria-controls="custom-nav-plot2" aria-selected="false">Plot 2</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot3" role="tab" aria-controls="custom-nav-plot3" aria-selected="false">Plot 3</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot4" role="tab" aria-controls="custom-nav-plot4" aria-selected="false">Plot 4</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="custom-nav-plot1" role="tabpanel" aria-labelledby="custom-nav-plot1-tab">
                                            <div class="mx-auto d-block">
                                                <div class="text-sm-center">
                                                    <div class="(% plotly_class name='scatterplot'%)" style="height:100%; width:100%">
                                                        {% plotly_app name="scatterplot" ratio=.4 %}
                                                    </div>
    
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-plot2" role="tabpanel" aria-labelledby="custom-nav-plot2-tab">
                                            <div class="text-sm-center">
                                                <h1 class="mt-3 mb-2">{{get_user.0}}</h1>
                                                <div class="(% plotly_class name='scatter_unit'%)" style="height:100%; width:100%">
                                                    {% plotly_app name="scatter_unit" ratio=.4%}
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-plot3" role="tabpanel" aria-labelledby="custom-nav-plot3-tab">
                                            <div class="text-sm-center">
                                                <h1 class="mt-3 mb-2">{{get_user.0}}</h1>
                                                <div class="(% plotly_class name='mean_time_threshold'%)" style="height:100%; width:100%">
                                                    {% plotly_app name="mean_time_threshold" ratio=.4%}
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-plot4" role="tabpanel" aria-labelledby="custom-nav-plot4-tab">
                                            <div class="text-sm-center">
                                                <h1 class="mt-3 mb-2">{{get_user.0}}</h1>
                                                <div class="(% plotly_class name='moisttemp'%)" style="height:100%; width:100%">
                                                    {% plotly_app name="moisttemp" ratio=0.4 %}
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <!--END ROW2a--> 
                <!-- ROW2b-->
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="(% plotly_class name='scatterplot'%)" style="height:100%; width:100%">
                            {% plotly_app name="scatterplot" ratio=0.7 %}
                        </div>
                        
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="(% plotly_class name='scatter_unit'%)" style="height:100%; width:100%">
                            {% plotly_app name="scatter_unit" ratio=0.7 %}
                        </div>
                    </div>
                </div>
                <!--END ROW2b-->
                <!-- ROW3-->
                <div class = "row row m-t-25">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <div class="user-data">
                            <div class="au-card">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <h2 class="title-5 m-b-35">Storage Site Unit</h2>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-filter"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <li class="dropdown-header">Sort by</li>
                                                <a class="dropdown-item" href="#">Temperature: Low to High</a>
                                                <a class="dropdown-item" href="#">Moisture: Low to High</a>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Filter by</li>
                                                <a class="dropdown-item" href="#">Condition: Safe</a>
                                                <a class="dropdown-item" href="#">Condition: Warning</a>
                                            </div>
                                        </div>
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export As
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">.PDF</a>
                                                <a class="dropdown-item" href="#">.txt</a>
                                                <a class="dropdown-item" href="#">.csv</a>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>
                                <div class="table-responsive table-data">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Time-Stamp</th>
                                                <th>Grain</th>
                                                <th>Temp</th>
                                                <th>Moist</th>
                                                <th>Tonnes</th>
                                                <th>Condition</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-05-20 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa fa-smile"></i>&nbsp; Safe</button>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-06-20 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--red">High Risk!</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-07-20 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--yellow">Warning</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-05-23 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--yellow">Warning</span>
                                                </td>
                                            </tr><tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-01-20 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa fa-smile"></i>&nbsp; Safe</button>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>12-03-20 08:00</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--red">High Risk!</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
                <!--END ROW3-->
            </div>     
        </div>
    </div>
    <!--END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->

{% endblock content_nav %}